<!-- @@ Profile Edit Modal @e -->

<!-- Full Name Model -->
<div class="modal fade" role="dialog" id="full-name">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Full Name</h5>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name">Full Name</label>
                            <input type="text" class="form-control form-control-lg" id="full-name"
                                value="Abu Bin Ishtiyak" placeholder="Enter Full name">
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="btn btn-lg btn-primary">Update
                                    Full name</a>
                            </li>
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- Full Name Modal -->

<!-- Phone No Model -->
<div class="modal fade" role="dialog" id="phone-no">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Phone No</h5>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="phone-no">Phone Number</label>
                            <input type="text" class="form-control form-control-lg" id="phone-no" value="+880"
                                placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="btn btn-lg btn-primary">Update
                                    Phone No</a>
                            </li>
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- Phone No Modal -->

<!-- Date of Birth Model -->
<div class="modal fade" role="dialog" id="date-of-birth">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Date Birth</h5>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="birth-day">Date of Birth</label>
                            <input type="text" class="form-control form-control-lg date-picker" id="birth-day"
                                placeholder="Enter your birth date">
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="btn btn-lg btn-primary">
                                    Update Date of Birth
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- Date of Birth Modal -->


<!-- Address Model -->
<div class="modal fade" role="dialog" id="address-edit">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Address</h5>
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="address-l1">Address Line 1</label>
                            <input type="text" class="form-control form-control-lg" id="address-l1"
                                value="2337 Kildeer Drive">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="address-l2">Address Line 2</label>
                            <input type="text" class="form-control form-control-lg" id="address-l2" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="address-st">State</label>
                            <input type="text" class="form-control form-control-lg" id="address-st"
                                value="Kentucky">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="address-county">Country</label>
                            <select class="form-select js-select2" id="address-county" data-ui="lg">
                                <option>Canada</option>
                                <option>United State</option>
                                <option>United Kindom</option>
                                <option>Australia</option>
                                <option>India</option>
                                <option>Bangladesh</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <a href="#" class="btn btn-lg btn-primary">Update Address</a>
                            </li>
                            <li>
                                <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- Date of Birth Modal -->


<!-- Profile Edit Modal End -->