{% extends 'blank.html' %}
{% load static %}

{% block title %}Settings - 
{% block settingsTitle %}
{% endblock settingsTitle %}
{% endblock title %}

{% block content %}
<!-- content @s -->
<div class="nk-block">
    <div class="card">
        <div class="card-aside-wrap">
            {% block settingsContent  %}
            {% endblock settingsContent %}
            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg"
                data-toggle-body="true" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                <div class="card-inner-group" data-simplebar>
                    <div class="card-inner">
                        <div class="user-card">
                            <div class="user-avatar bg-primary">
                                <span>AB</span>
                            </div>
                            <div class="user-info">
                                <span class="lead-text">{{ user.first_name }} {{ user.last_name }}</span>
                                <span class="sub-text">@{{ user.username }}</span>
                            </div>
                            <div class="user-action">
                                <div class="dropdown">
                                    <a class="btn btn-icon btn-trigger me-n2" data-bs-toggle="dropdown" href="#"><em
                                            class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><em class="icon ni ni-camera-fill"></em><span>Change
                                                        Photo</span></a></li>
                                            <li><a href="#"><em class="icon ni ni-edit-fill"></em><span>Update
                                                        Profile</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .user-card -->
                    </div><!-- .card-inner -->
                    <div class="card-inner">
                        <div class="user-account-info py-0">
                            <h6 class="overline-title-alt">Account Balance</h6>
                            <div class="user-balance">12.395769 <small class="currency currency-btc">USD</small></div>
                            <div class="user-balance-sub">Pending <span>0.344939 <span
                                        class="currency currency-btc">USD</span></span></div>
                        </div>
                    </div><!-- .card-inner -->
                    <div class="card-inner p-0">
                        <ul class="link-list-menu">
                            <li>
                                <a {% if request.path == '/settings/' %} class="active"{% endif %}
                                href="{% url 'settings'  %}">
                                    <em class="icon ni ni-user-fill-c"></em>
                                    <span>Personal Information</span></a>
                            </li>
                            <li>
                                <a {% if request.path == '/settings/notifications/' %} class="active"{% endif %}
                                href="{% url 'notifications' %}">
                                    <em class="icon ni ni-bell-fill"></em>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li>
                                <a {% if request.path == '/settings/activity/' %} class="active"{% endif %}
                                href="{% url 'activity'  %}">
                                    <em class="icon ni ni-activity-round-fill"></em>
                                    <span>Activity</span></a>
                            </li>
                            <li>
                                <a {% if request.path == '/settings/security/' %} class="active"{% endif %}
                                href="{% url 'security'  %}">
                                    <em class="icon ni ni-lock-alt-fill"></em>
                                    <span>Security</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- card-aside -->
        </div><!-- .card-aside-wrap -->
    </div><!-- .card -->
</div><!-- .nk-block -->

<!-- content @e -->
{% endblock content %}