{% extends 'blank.html' %}
{% load static %}


{% block title %} Blog - Your Gateway to Thoughtful Writing{% endblock %}

{% block content %}

<!-- content @s -->
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Blog</h3>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                        class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                    data-bs-toggle="dropdown"><em
                                        class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                            class="d-none d-md-inline">Last</span> 30
                                        Days</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><span>Last 30 Days</span></a></li>
                                        <li><a href="#"><span>Last 6 Months</span></a></li>
                                        <li><a href="#"><span>Last 1 Years</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em
                                    class="icon ni ni-reports"></em><span>Reports</span></a>
                        </li>
                        <!-- add post, add user, add order, add page option with dropdown button -->
                        <li>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary"
                                    data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><em class="icon ni ni-plus-round-fill"></em>
                                                <span>Add Post</span>
                                            </a>
                                        </li>
                                        <li><a href="#"><em class="icon ni ni-user-add-fill"></em>
                                                <span>Add User</span>
                                            </a>
                                        </li>
                                        <li><a href="#"><em class="icon ni ni-coin-alt-fill"></em><span>Add
                                                    Order</span></a></li>
                                        <li><a href="#"><em class="icon ni ni-note-add-fill-c"></em><span>Add
                                                    Page</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->
<div class="nk-block">
    {% if posts %}
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-4 py-2 px-2">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="">
                    <div class="card-inner">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <div class="user-card">
                            <div class="user-avatar sm">
                                <img src="{% static 'dashboard/images/avatar/c-sm.jpg' %}" alt="">
                                <div class="status dot dot-md dot-success"></div>
                            </div>
                            <div class="user-info">
                                <span class="lead-text">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                                <span class="sub-text">@ {{ post.author.username }}</span>
                            </div>
                            <span class="badge bg-danger ms-4">Diamond</span>
                        </div>
                        <p class="card-text">
                            {{ post.content|truncatewords:20 }}
                        </p>
                        <!-- <span class="text-muted">2 days ago</span> -->
                    </div>
                    <a href="#" class="mt-auto btn btn-primary align-self-lg-start ms-4 mb-3">Read Now</a>
                </div>
                <div class="card-footer border-top text-muted">{{ post.date_posted|timesince }} ago
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>
            No posts yet.
        </p>
        {% endif %}
    </div>
</div>
<!-- content @e -->


{% endblock content %}

<!-- Post Card Previews -->
<div class="nk-block">
    <!-- Posts Card Preview -->
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <div class="row">
                {% if posts %}
                {% for post in posts %}
                <div class="col-lg-3 mt-3 align-items-stretch">
                    <div class="card">
                        <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="">
                        <div class="card-inner">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <!-- //code for User Card 2 -->
                            <div class="user-card">
                                <div class="user-avatar sm">
                                    <img src="{% static 'dashboard/images/avatar/c-sm.jpg' %}" alt="">
                                    <div class="status dot dot-md dot-success"></div>
                                </div>
                                <div class="user-info d-flex">
                                    <div>
                                        <span class="lead-text">Keith Jensen</span>
                                        <span class="sub-text">keith@softnio.com</span>
                                    </div>
                                    <div>
                                        <span class="badge bg-warning">Legend</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <!-- truncate by word -->
                                {{ post.content|truncatewords:10 }}
                            </div>
                            <a href="#" class="btn btn-primary">Read Now</a>
                        </div>
                        <div class="card-footer border-top text-muted">2 days ago</div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>
                    No posts yet.
                </p>
                {% endif %}
            </div>
        </div>
    </div><!-- .card-preview -->
    <!-- Posts Card Preview -->
</div><!-- .nk-block -->