{% load static %}

<footer class="footer bg-dark is-dark section section-sm" id="footer">
    <div class="container">
        <div class="row g-3 align-items-center">
            <div class="col-md-3">
                <div class="footer-logo">
                    <a href="html/index.html" class="logo-link">
                        <img class="logo-light logo-img" src="{% static 'images/logo.png' %}"
                            srcset="{% static 'images/logo2x.png' %} 2x" alt="logo">
                        <img class="logo-dark logo-img" src="{% static 'images/logo-dark.png' %}"
                            srcset="{% static 'images/logo-dark2x.png' %} 2x" alt="logo-dark">
                    </a>
                </div><!-- .footer-logo -->
            </div><!-- .col -->
            <div class="col-md-9 d-flex justify-content-md-end">
                <ul class="link-inline gx-4">
                    <li><a href="#">All Preview</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Doc</a></li>
                    <li><a href="#">Need Help?</a></li>
                </ul><!-- .footer-nav -->
            </div><!-- .col -->
        </div>
        <div class="row g-3 align-items-center pt-4">
            <div class="col-md-8">
                <div class="text-base">&copy; 2023 Articulus Made by <a class="text-base fw-bold"
                        href="https://github.com/dev-mdirfan">Mohd Irfan</a></div>
            </div><!-- .col -->
            <div class="col-md-4 d-flex justify-content-md-end">
                <ul class="social">
                    <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                    <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                    <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                </ul><!-- .footer-icon -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</footer><!-- .footer -->